/* styles.css */
/* .pickup-select {
  width: 100% !important;              
  max-width: 500px !important;          
  height: 40px !important;              
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: red !important;
} */

.hero-title 
.hero-underline {
  display: block;
  width: 30px;
  border-bottom: 3px solid pink;
  margin-top: 8px;
   transition: width 0.3s ease; 
}
.hero-title:hover .hero-underline {
  width: 180px;
}